body {
  @apply font-mono;
}

.scrolling-text {
  @apply shrink-0 pl-[100%];
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
